
  <div class="card">
    <div class="card-content">
      <p class="title">
        Activities Completed: 
      </p>
      <p class="subtitle">
        <li>Cooked at home</li>
        <li>Listened to music</li>
        <li>Meditate</li>
        <li>Go to School</li>

      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          Date <a >01/01/2022</a>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
            Mood: <image src="./Assets/happy.png"></image>
        </span>
      </p>
    </footer>
  </div>
  
  <div class="card">
    <div class="card-content">
      <p class="title">
        Activities Completed: 
      </p>
      <p class="subtitle">

        <li>Ate Junk Food</li>
        <li>Binged a TV Show</li>
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          Date <a >01/02/2022</a>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
            Mood: <image src="./Assets/sad.png.png"></image>
        </span>
      </p>
    </footer>
  </div>
  
  
  <div class="card">
    <div class="card-content">
      <p class="title">
        Activities Completed: 
      </p>
      <p class="subtitle">
        <li>Cooked at home</li>
        <li>Listened to music</li>
        <li>Meditate</li>
        <li>Go to School</li>
        <li>Ate Junk Food</li>
        <li>Binged a TV Show</li>
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          Date <a >01/03/2022</a>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
            Mood: <image src="./Assets/neutral.png"></image>
        </span>
      </p>
    </footer>
  </div>

  
  <div class="card">
    <div class="card-content">
      <p class="title">
        Activities Completed: 
      </p>
      <p class="subtitle">
        <li>Cooked at home</li>
        <li>Listened to music</li>
        <li>Meditate</li>
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          Date <a >01/04/2022</a>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
            Mood: <image src="./Assets/happy.png"></image>
        </span>
      </p>
    </footer>
  </div>

  
  <div class="card">
    <div class="card-content">
      <p class="title">
        Activities Completed: 
      </p>
      <p class="subtitle">
        <li>Cooked at home</li>

      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          Date <a >01/05/2022</a>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
            Mood: <image src="./Assets/happy.png"></image>
        </span>
      </p>
    </footer>
  </div>

    <div class="card">
    <div class="card-content">
      <p class="title">
        Activities Completed: 
      </p>
      <p class="subtitle">
        <li>Cooked at home</li>
        <li>Meditate</li>
        <li>Go to School</li>
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          Date <a >01/06/2022</a>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
            Mood: <image src="./Assets/happy.png"></image>
        </span>
      </p>
    </footer>
  </div>


      <div class="card">
    <div class="card-content">
      <p class="title">
        Activities Completed: 
      </p>
      <p class="subtitle">

        <li>Meditate</li>

      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          Date <a >01/07/2022</a>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
            Mood: <image src="./Assets/veryhappy.png.png"></image>
        </span>
      </p>
    </footer>
  </div>